@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'),
         url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'),
         url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');

.TodoTemplate {
    width: 500px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;

    .app-title {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        color: rgb(65, 63, 77);
    }
    .content {
        margin: 10px 0 0;
        //border: 2px solid #bebebe;
    }
}

