.TodoListItem-virtualized {
    & + & {
        border-top: 1px solid #dee2e6;
    }
    &:nth-child(even) {
        background: #f8f9fa;
    }

    .TodoListItem {
        width: 100%;
        height: 30px;
        line-height: 30px;
        //padding: 1rem;
        //display: flex;
        //align-items: center;
        cursor: pointer;

        .checkbox {
            width: 94%;
            display: inline-block;

            .text {
                display: inline-block;
                margin-left: 15px;
            }
            .line-break {
                word-break: break-all;
            }
        }
        .remove{
            width: 5%;
            display: inline-block;
            text-align: right;
        }
    }
}